# 1. List

- List is an ordered collection of items
- Different Data Types
- Item in the list an be changed or replaced
- Mutable

![List](https://astikanand.github.io/techblogs/python/assets/python_lists.png)

### 1.1 Initialization

list1=[ ]

List2 = list()

list3 = [2, "astik", 5, 9]

In [99]:
list1 = [0,2,100, 5.6, 'apple', 'pear', ['Athena', 'Apollo', 'Zeus']]

In [100]:
print("list is {}".format(list1))

list is [0, 2, 100, 5.6, 'apple', 'pear', ['Athena', 'Apollo', 'Zeus']]

In [101]:
list2 = ['Cat', 'Turtle', 'Dog', 'Rabbit', 'Duck']

In [102]:
list2

['Cat', 'Turtle', 'Dog', 'Rabbit', 'Duck']

### 1.2 List Sort

In [103]:
# Sort order Aplphabet A-Z
list2.sort()

In [104]:
list2

['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle']

In [105]:
list3 = list1+list2

In [106]:
list3

[0,
 2,
 100,
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 'Cat',
 'Dog',
 'Duck',
 'Rabbit',
 'Turtle']

In [107]:
list3[6]

['Athena', 'Apollo', 'Zeus']

In [108]:
list4 = list2+list1

In [109]:
list4

['Cat',
 'Dog',
 'Duck',
 'Rabbit',
 'Turtle',
 0,
 2,
 100,
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus']]

In [110]:
list1.append(2)

In [111]:
list1

[0, 2, 100, 5.6, 'apple', 'pear', ['Athena', 'Apollo', 'Zeus'], 2]

In [112]:
list1.append(list2)

In [113]:
list1

[0,
 2,
 100,
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle']]

In [114]:
list4

['Cat',
 'Dog',
 'Duck',
 'Rabbit',
 'Turtle',
 0,
 2,
 100,
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus']]

### 1.3 List Length, Insert

In [115]:
len1=len(list1)

In [116]:
len1

9

In [117]:
list1.append(["grape", "Orange"])

In [118]:
list1

[0,
 2,
 100,
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle'],
 ['grape', 'Orange']]

In [122]:
# Insert Data element with specific index
list1.insert(3, "bear")

In [123]:
list1

[0,
 2,
 100,
 'bear',
 'bear',
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle'],
 ['grape', 'Orange']]

In [124]:
list1[3]="Tiger"

In [125]:
list1

[0,
 2,
 100,
 'Tiger',
 'bear',
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle'],
 ['grape', 'Orange']]

### 1.4 Remove

list.pop()

list.pop(index)

list.remove(element)

del list[index]

In [128]:
# Remove last element
list1.pop()

['grape', 'Orange']

In [129]:
list1

[0,
 2,
 100,
 'Tiger',
 'bear',
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle']]

In [131]:
# Remove the element at given index

In [132]:
list1.pop(4)

'bear'

In [133]:
list1

[0,
 2,
 100,
 'Tiger',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle']]

In [138]:
# Remove the first occurrence of the elment from the list
list1.remove("pear")

In [139]:
list1

[0,
 2,
 100,
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle']]

In [130]:
# Delete index == 5 element
del list1[5]

In [142]:
list1

[0,
 2,
 100,
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle']]

In [121]:
list1.index()

[0,
 2,
 100,
 'bear',
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 2,
 ['Cat', 'Dog', 'Duck', 'Rabbit', 'Turtle'],
 ['grape', 'Orange']]

### 1.5 Get list Info

In [143]:
# Get Index
list1.index(2)

1

In [147]:
# Check Membership: In the list == True; Not in the list == False.
['Athena', 'Apollo', 'Zeus'] in list1

True

### 1.6 Slicing

In [152]:
list2.append("Eagle")

In [158]:
list2=list2+["Panda", "Coyote"]+["Butterfly"]
list2

['Cat',
 'Dog',
 'Duck',
 'Rabbit',
 'Turtle',
 'Eagle',
 'Panda',
 'Coyote',
 'Panda',
 'Coyote',
 'Panda',
 'Coyote',
 'Butterfly',
 'Panda',
 'Coyote',
 'Butterfly']

In [156]:
# slice out the elements from index 2 to 4. [2 ~ n) 2~n-1
list2[2:5]

['Duck', 'Rabbit', 'Turtle']

In [161]:
# Count the number of occurrences of element in list
list2.count("Coyote")

4

In [163]:
list2.count("Eagle")

1

In [168]:
# Sort the list
list2.sort()

In [169]:
list2

['Butterfly',
 'Butterfly',
 'Cat',
 'Coyote',
 'Coyote',
 'Coyote',
 'Coyote',
 'Dog',
 'Duck',
 'Eagle',
 'Panda',
 'Panda',
 'Panda',
 'Panda',
 'Rabbit',
 'Turtle']

In [174]:
# Reverse the list
list2.reverse()

In [173]:
list2

['Turtle',
 'Rabbit',
 'Panda',
 'Panda',
 'Panda',
 'Panda',
 'Eagle',
 'Duck',
 'Dog',
 'Coyote',
 'Coyote',
 'Coyote',
 'Coyote',
 'Cat',
 'Butterfly',
 'Butterfly']

# 2. Dictionary

- Anunordered collection of data values, used to store data values like a map.
- key:value pair.
- Each key-value pair in a Dictionary is separated by a colon :, whereas each key is separated by a ‘comma’.
- Keys of a Dictionary must be unique and of immutable data type such as Strings, Integers and tuples, but the key-values can be repeated and be of any type.

![Dictionary](https://astikanand.github.io/techblogs/python/assets/python_dictionary.png)

### 2.1 Initialize Dictionary

In [177]:
# initialize
dict1 = {1: "abcd", "apples": 3, "fruits": ["apples", "mangoes"], "Names":['Charlie', 'Sunny', 'Sky'] }
print("Initial Dict = {}".format(dict1))

Initial Dict = {1: 'abcd', 'apples': 3, 'fruits': ['apples', 'mangoes'], 'Names': ['Charlie', 'Sunny', 'Sky']}

In [178]:
dict1

{1: 'abcd',
 'apples': 3,
 'fruits': ['apples', 'mangoes'],
 'Names': ['Charlie', 'Sunny', 'Sky']}

In [179]:
#Insert Key:Value Pair
dict1[2]=5

In [180]:
dict1

{1: 'abcd',
 'apples': 3,
 'fruits': ['apples', 'mangoes'],
 'Names': ['Charlie', 'Sunny', 'Sky'],
 2: 5}

In [182]:
len(dict1)

5

In [217]:
print("Key = {} and Value = {}".format("apples", dict1["apples"]))
print("Key = {} and Value = {}".format("fruits", dict1.get("fruits", False)))
print("Key = {} and Value = {}".format("mangoes", dict1.get("mangoes", False)))
print("Key = {} and Value = {}".format("mangoes", dict1.get("mangoes", True)))
print("Key = {} and Value = {}\n".format("Names", dict1.get("Names", True)))

Key = apples and Value = 3
Key = fruits and Value = ['apples', 'mangoes']
Key = mangoes and Value = False
Key = mangoes and Value = True
Key = Names and Value = ['Charlie', 'Sunny', 'Sky']

In [190]:
a = dict1.get("Names"， False)

In [193]:
b = dict1.get("Names", True)

In [194]:
a

['Charlie', 'Sunny', 'Sky']

In [195]:
b

['Charlie', 'Sunny', 'Sky']

In [199]:
print(dict1.keys)

<built-in method keys of dict object at 0x7fd2a122c140>

In [200]:
print("dict1's keys is {}".format(dict1.keys))

dict1's keys is <built-in method keys of dict object at 0x7fd2a122c140>

### 2.2 Membership Check

In [204]:
# Check whether the key in the dictionary
"Names" in dict1

True

In [205]:
# Not check data elements. only check the Keys. 
"Sunny" in dict1

False

In [203]:
'fruits' in dict1

True

In [206]:
print("Is fruits in dict1? {}".format("fruits" in dict1))

Is fruits in dict1? True

In [209]:
# Get set of (key, value) pairs
dict1.items()

dict_items([(1, 'abcd'), ('apples', 3), ('fruits', ['apples', 'mangoes']), ('Names', ['Charlie', 'Sunny', 'Sky']), (2, 5)])

In [214]:
# Get all keys
dict1.keys()

dict_keys([1, 'apples', 'fruits', 'Names', 2])

In [215]:
dict1.values()

dict_values(['abcd', 3, ['apples', 'mangoes'], ['Charlie', 'Sunny', 'Sky'], 5])

In [219]:
# setdefault(): get the value if key present else sets the default value to key
dict1.setdefault("apples", 0)

3

In [221]:
dict1.setdefault("fruits", 0)

['apples', 'mangoes']

In [222]:
dict1.setdefault("human", 0)

0

In [232]:
dict1

{1: 'abcd',
 'apples': 3,
 'fruits': ['apples', 'mangoes'],
 'Names': ['Stephnie', 'Gary'],
 2: 5,
 'mangoes': 0,
 'human': 0,
 'Charlie': 'Claire',
 'Sunny': 'Tony',
 'Sky': 3}

In [224]:
# Update Dictionary
dic2={"Charlie": "Claire", "Sunny": "Tony", "Sky": 3}

In [229]:
dic3={"Names":["Stephnie", "Gary"]}

In [227]:
dict1.update(dic2)

In [230]:
dict1.update(dic3)

In [236]:
dict1

{1: 'abcd',
 'apples': 3,
 'fruits': ['apples', 'mangoes'],
 'Names': ['Stephnie', 'Gary'],
 2: 5,
 'mangoes': 0,
 'human': 0,
 'Charlie': 'Claire',
 'Sunny': 'Tony',
 'Sky': 3}

In [240]:
# Delete dict1
del dict1["human"]

In [241]:
dict1

{1: 'abcd',
 'apples': 3,
 'fruits': ['apples', 'mangoes'],
 'Names': ['Stephnie', 'Gary'],
 2: 5,
 'Charlie': 'Claire',
 'Sunny': 'Tony',
 'Sky': 3}

In [245]:
dict4=dict1.copy()

In [243]:
dict4

{1: 'abcd',
 'apples': 3,
 'fruits': ['apples', 'mangoes'],
 'Names': ['Stephnie', 'Gary'],
 2: 5,
 'Charlie': 'Claire',
 'Sunny': 'Tony',
 'Sky': 3}

In [246]:
dict4.clear()

In [247]:
dict4

{}

In [248]:
seq =("Name", "Age", "Gender")

In [252]:
dict1.fromkeys(seq)

{'Name': None, 'Age': None, 'Gender': None}

In [253]:
dict1

{1: 'abcd',
 'apples': 3,
 'fruits': ['apples', 'mangoes'],
 'Names': ['Stephnie', 'Gary'],
 2: 5,
 'Charlie': 'Claire',
 'Sunny': 'Tony',
 'Sky': 3}

In [254]:
dict1.fromkeys(seq,10)

{'Name': 10, 'Age': 10, 'Gender': 10}

In [255]:
dict1

{1: 'abcd',
 'apples': 3,
 'fruits': ['apples', 'mangoes'],
 'Names': ['Stephnie', 'Gary'],
 2: 5,
 'Charlie': 'Claire',
 'Sunny': 'Tony',
 'Sky': 3}

# 3. Tuple

A Tuple is a collection of Python objects separated by commas.

Tuple is similar to a List in terms of indexing, nested objects and repetition. but Tuple is immutable; List is mutable;

### 3.1 creation of tuple

In [72]:
tup1 = ('physics', 'chemistry', 1997, 2000, 5, 7)

In [73]:
tup1

('physics', 'chemistry', 1997, 2000, 5, 7)

### 3.2 Convert an array to a tuple

In [74]:
# Convert a array to tuple
tup2 = tuple([2,3,4,1,5,7,9,13])

In [75]:
tup2

(2, 3, 4, 1, 5, 7, 9, 13)

In [52]:
print("Tuple tup1 : {}".format(tup1))
print("Tuple tup2 : {}".format(tup2))

Tuple tup1 : ('physics', 'chemistry', 1997, 2000, 5, 7)
Tuple tup2 : (2, 3, 4, 1, 5, 7, 9, 13)

In [53]:
print("Tuple tup1's 3rd element is {}".format(tup1[2]))
print("Tuple tup2's 4th element is {}".format(tup2[3]))

Tuple tup1's 3rd element is 1997
Tuple tup2's 4th element is 1

### 3.3 Get Tuple Length

In [54]:
# Get the size of a Tuple
len(tup1)

6

In [55]:
len(tup2)

8

### 3.4 Concatenation

In [56]:
# Concatenation 
tup3 = tup1+tup2
tup4 = tup2+tup1

In [57]:
tup3

('physics', 'chemistry', 1997, 2000, 5, 7, 2, 3, 4, 1, 5, 7, 9, 13)

In [58]:
tup4

(2, 3, 4, 1, 5, 7, 9, 13, 'physics', 'chemistry', 1997, 2000, 5, 7)

### 3.5 Tuple Comparisom

In [64]:
# Find common part (intersection) between two Tuples

In [65]:
tup1_as_set = set(tup1)
tup2_as_set = set(tup2)

In [66]:
intersection=tup1_as_set.intersection(tup2_as_set)

In [67]:
intersection

{5, 7}

In [69]:
intersection_as_list = list(intersection)
print(intersection_as_list)

[5, 7]

### 3.6 Tuple Subtraction

Only numerical elements can perform subtraction operation

In [81]:
my_tuple_1 = tuple([7, 8, 11, 0 ,3])
my_tuple_2 = tuple([3, 2, 22, 45, 12, 9])

print ("The first tuple is : " )
print(my_tuple_1)
print ("The second tuple is : " )
print(my_tuple_2)

my_result = tuple(map(lambda i, j: i - j, my_tuple_1, my_tuple_2))

print("The tuple after subtraction is : " )
print(my_result)

The first tuple is :
(7, 8, 11, 0, 3)
The second tuple is :
(3, 2, 22, 45, 12, 9)
The tuple after subtraction is :
(4, 6, -11, -45, -9)

In [29]:
# Membership
print("chemistry present in tup1 ? : {}".format('chemistry' in tup1))
print("chemistry present in tup2 ? : {}\n".format('chemistry' in tup2))

chemistry present in tup1 ? : True
chemistry present in tup2 ? : False

In [35]:
membership_p = 'physics' in tup1

In [36]:
membership_p

True

In [38]:
membership_7 = '7' in tup2

In [39]:
membership_7

False

# 4. Set