# 1. List

List is an ordered collection of items

Different Data Types

Item in the list an be changed or replaced

Mutable

In [31]:
list1 = [0,2,100, 5.6, 'apple', 'pear', ['Athena', 'Apollo', 'Zeus']]

In [32]:
print("list is {}".format(list1))

list is [0, 2, 100, 5.6, 'apple', 'pear', ['Athena', 'Apollo', 'Zeus']]

In [33]:
list2 = ['Cat', 'Dog', 'Rabbit', 'Turtle']

In [34]:
list3 = list1+list2

In [35]:
list3

[0,
 2,
 100,
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 'Cat',
 'Dog',
 'Rabbit',
 'Turtle']

In [36]:
list3[6]

['Athena', 'Apollo', 'Zeus']

In [37]:
list4 = list2+list1

In [38]:
list4

['Cat',
 'Dog',
 'Rabbit',
 'Turtle',
 0,
 2,
 100,
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus']]

In [39]:
list6=list1.append(2)

In [43]:
list1

[0, 2, 100, 5.6, 'apple', 'pear', ['Athena', 'Apollo', 'Zeus'], 2]

In [44]:
list6

In [40]:
list4.append(2)

In [41]:
list4

['Cat',
 'Dog',
 'Rabbit',
 'Turtle',
 0,
 2,
 100,
 5.6,
 'apple',
 'pear',
 ['Athena', 'Apollo', 'Zeus'],
 2]

# 2. Dictionary

# 3. Tuple

A Tuple is a collection of Python objects separated by commas.

Tuple is similar to a List in terms of indexing, nested objects and repetition. but Tuple is immutable; List is mutable;

### 3.1 creation of tuple

In [72]:
tup1 = ('physics', 'chemistry', 1997, 2000, 5, 7)

In [73]:
tup1

('physics', 'chemistry', 1997, 2000, 5, 7)

### 3.2 Convert an array to a tuple

In [74]:
# Convert a array to tuple
tup2 = tuple([2,3,4,1,5,7,9,13])

In [75]:
tup2

(2, 3, 4, 1, 5, 7, 9, 13)

In [52]:
print("Tuple tup1 : {}".format(tup1))
print("Tuple tup2 : {}".format(tup2))

Tuple tup1 : ('physics', 'chemistry', 1997, 2000, 5, 7)
Tuple tup2 : (2, 3, 4, 1, 5, 7, 9, 13)

In [53]:
print("Tuple tup1's 3rd element is {}".format(tup1[2]))
print("Tuple tup2's 4th element is {}".format(tup2[3]))

Tuple tup1's 3rd element is 1997
Tuple tup2's 4th element is 1

### 3.3 Get Tuple Length

In [54]:
# Get the size of a Tuple
len(tup1)

6

In [55]:
len(tup2)

8

### 3.4 Concatenation

In [56]:
# Concatenation 
tup3 = tup1+tup2
tup4 = tup2+tup1

In [57]:
tup3

('physics', 'chemistry', 1997, 2000, 5, 7, 2, 3, 4, 1, 5, 7, 9, 13)

In [58]:
tup4

(2, 3, 4, 1, 5, 7, 9, 13, 'physics', 'chemistry', 1997, 2000, 5, 7)

### 3.5 Tuple Comparisom

In [64]:
# Find common part (intersection) between two Tuples

In [65]:
tup1_as_set = set(tup1)
tup2_as_set = set(tup2)

In [66]:
intersection=tup1_as_set.intersection(tup2_as_set)

In [67]:
intersection

{5, 7}

In [69]:
intersection_as_list = list(intersection)
print(intersection_as_list)

[5, 7]

### 3.6 Tuple Subtraction

Only numerical elements can perform subtraction operation

In [81]:
my_tuple_1 = tuple([7, 8, 11, 0 ,3])
my_tuple_2 = tuple([3, 2, 22, 45, 12, 9])

print ("The first tuple is : " )
print(my_tuple_1)
print ("The second tuple is : " )
print(my_tuple_2)

my_result = tuple(map(lambda i, j: i - j, my_tuple_1, my_tuple_2))

print("The tuple after subtraction is : " )
print(my_result)

The first tuple is :
(7, 8, 11, 0, 3)
The second tuple is :
(3, 2, 22, 45, 12, 9)
The tuple after subtraction is :
(4, 6, -11, -45, -9)

In [29]:
# Membership
print("chemistry present in tup1 ? : {}".format('chemistry' in tup1))
print("chemistry present in tup2 ? : {}\n".format('chemistry' in tup2))

chemistry present in tup1 ? : True
chemistry present in tup2 ? : False

In [35]:
membership_p = 'physics' in tup1

In [36]:
membership_p

True

In [38]:
membership_7 = '7' in tup2

In [39]:
membership_7

False

# 4. Set